.main {
  padding: 2rem;
  background-color: #1e0c42;
}

.request-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.protocol-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.protocol-name {
  display: block;
  color: #079ea6;
  font-size: 2rem;
  font-weight: bold;
}

.text-input {
  width: 30%;
  height: 3rem;
  border: none;
  font-size: 1.5rem;
}

.request-btn, #arquivo{
  height: 3.1rem;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  background-color: #079ea6;
  color: #FFF;
  border: none;
  border-radius: 0.5rem;
}

.email-form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.label-remetente-form  {
  color: blue;
  background-color: #FFF;
  width: fit-content;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  margin-bottom: -1rem;
  margin-left: 0.2rem;
  z-index: 2;
  transition: 0.5s;
  outline: 1px solid transparent;
}

.input-remetente-form {
  width: 15%;
  margin-bottom: 1rem;
  transition: 0.5s;
  outline: 1px solid transparent;
}

.remetente-btn {
  width: fit-content;
}

.input-remetente-form:focus {
  outline: 1px solid red;
  border-radius: 0.1rem;
}

.email-form:has(.input-remetente-form:focus) .label-remetente-form {
  margin-bottom: -.4rem;
  outline: 1px solid transparent;
}





